doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Custom Object Records
    a(href="/update-cobj") Add to this table

    if data.length
      table(border="1")
        thead
          tr
            th Name
            th Description
            th Category
        tbody
          each item in data
            tr
              td= item.properties.name
              td= item.properties.description
              td= item.properties.category
    else
      p No records found. Try adding one!
